### These files should get ignored no matter where they appear.

/*.gcov.*

/autom4te.cache/

/config.stamp
/config.log
/config.status
# /configure

# /Makefile

/CMakeFiles
*CMakeCache.txt

/src/*.[od]
/src/*.gcda
/src/*.gcno

# /test/test.sh

/test/src/*.[od]
/test/src/*.gcda
/test/src/*.gcno

# /VERSION

# Ignore Compiled Object files
*.slo
*.lo
*.o
*.obj

# Ignore Precompiled Headers
*.gch
*.pch

# Ignore Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Ignore Fortran module files
*.mod

# Ignore Compiled Static libraries
# *.lai
# *.la
# *.a
# *.lib

# Ignore project build libraries
/lib/

# Ignore Executables
*.exe
*.out
*.app

# Editors leave these lying around
\#*\#
.#*
*~
*.swp

# Ignore thumbnails and icon cache files created by Windows
Thumbs.db
ehthumbs.db

# Ignore some files on Windows
.DS_Store*
Icon?

# Ignore files build by Visual Studio
*.obj
*.pdb
*.dep
*.user
*.ncb
*.aps
*.pch
*.vspscc
*.idb
*.ilk
*.tlb
*.tlh
*.tli
*.tmp
*.sbr
*.rsp
*.pgc
*.pgd
*.suo
*.sdf
*.opensdf
*.sln.old
*.sln_old
*.meta
*.manifest
*.intermediate.manifest
*.bak

# *.vcxproj.user
# *_i.c
# *_p.c

# Ignore AStyle backup files
*.orig

# Ignore Code::Blocks backup files
*.sav

# Ignore Sublime Text 2 dump files
*.dump

# Ignore Eclipse or VSCode settings files
.settings

# Ignore stackdump files on Linux
*.stackdump

# Ignore Intel C++ Compiler Log Files & Project Files
IcUpdateLog.htm
*.icproj

# Ignore CodeBlocks project layout/depend files
*.layout
*.depend

# Ignore obj files in GCC
*.pic.d
*.jet.d

# Ignore log files
*.log

# Ignore Visual Studio 2013 temp files
*.tlog

# Ignore Visual Studio C# files
*.cache

# Ignore Visual Studio Update Files
UpgradeLog.XML
UpgradeLog.htm
/[Bb]ackup/

# Ignore Zip or Rar files
*.zip
*.rar

# Ignore CMake cache or temp files(folders)
/CMakeFiles
*CMakeCache.txt

# Ignore tmp and obj folders
[Bb]in
[Oo]bj/
/[Oo]bj/
/[Gg]en/
/tmp/
/temp/
!/[Bb]uild/ReadMe.txt
/[Bb]uild/*/

# Ignore bin and build folders
/[Bb]in/
/[Dd]ebug/
/[Rr]elease/
/x86-[Dd]ebug/
/x86-[Rr]elease/
/x64-[Dd]ebug/
/x64-[Rr]elease/
!/deps/

[Bb]in
[Dd]ebug*/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

# Other files or folders
/.metadata
/169.254.0.1
/ipch/
# /cmake/
/Simulator/
/Simulator-Coverage/
/Simulator-Profile/
/Device-Debug/
/Device-Coverage/
/Device-Profile/
/Device-Release/
